<html>
  <head>
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
     <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
      <link href="../css/styles1.css" type="text/css" rel="stylesheet"/>
    <script src="../scripts/jquery-1.7.1.min.js"></script>
    <script src="../scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../scripts/axure/axQuery.js"></script>
    <script src="../scripts/axure/globals.js"></script>
    <script src="../scripts/axutils.js"></script>
    <script src="../scripts/axure/annotation.js"></script>
    <script src="../scripts/axure/axQuery.std.js"></script>
    <script src="../scripts/axure/doc.js"></script>
    <script src="../scripts/messagecenter.js"></script>
    <script src="../scripts/axure/events.js"></script>
    <script src="../scripts/axure/recording.js"></script>
    <script src="../scripts/axure/action.js"></script>
    <script src="../scripts/axure/expr.js"></script>
    <script src="../scripts/axure/geometry.js"></script>
    <script src="../scripts/axure/flyout.js"></script>
    <script src="../scripts/axure/ie.js"></script>
    <script src="../scripts/axure/model.js"></script>
    <script src="../scripts/axure/repeater.js"></script>
    <script src="../scripts/axure/sto.js"></script>
    <script src="../scripts/axure/utils.temp.js"></script>
    <script src="../scripts/axure/variables.js"></script>
    <script src="../scripts/axure/drag.js"></script>
    <script src="../scripts/axure/move.js"></script>
    <script src="../scripts/axure/visibility.js"></script>
    <script src="../scripts/axure/style.js"></script>
    <script src="../scripts/axure/adaptive.js"></script>
    <script src="../scripts/axure/tree.js"></script>
    <script src="../scripts/axure/init.temp.js"></script>
    <script src="../scripts/axure/legacy.js"></script>
    <script src="../scripts/axure/viewer.js"></script>
    <script src="../scripts/axure/math.js"></script>
     <script src="../js/login.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '../images/transparent.gif'; };
    </script>
  </head>
  <body>
    <div id="base" class="">
      <div id="u3" class="ax_default box_1">
        <div id="u3_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- 账号输入框 (文本框) -->
      <div id="u5" class="ax_default _文本框" data-label="账号输入框">
        <input id="u5_input" type="text" value="" placeholder="请输入账号"/>
      </div>

      <!-- 密码输入框 (文本框) -->
      <div id="u6" class="ax_default _文本框" data-label="密码输入框">
        <input id="u6_input" type="password" value="" placeholder= "请输入密码"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u7" class="ax_default _形状">
        <div id="u7_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8" class="text" style="visibility: visible;">
          <p><span style="font-family:'Arial Negreta', 'Arial';font-weight:700;" onclick="login()">立即登录</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9" class="ax_default box_1">
        <div id="u9_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10" class="text" style="visibility: visible;">
          <p><span>PQC报告</span></p><p><span>展示系统</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11" class="ax_default line">
        <img id="u11_img" class="img " src="../images/u11.png"/>
        <!-- Unnamed () -->
        <div id="u12" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u13" class="ax_default line">
        <img id="u13_img" class="img " src="../images/u11.png"/>
        <!-- Unnamed () -->
        <div id="u14" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
