<!DOCTYPE html>
<html>
  <head>
    <title>报告展示页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../css/styles1.css" type="text/css" rel="stylesheet"/>
	<link href="../css/titleList.css" type="text/css" rel="stylesheet"/>
    <script src="../scripts/jquery-1.7.1.min.js"></script>
    <script src="../scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../scripts/axure/axQuery.js"></script>
    <script src="../scripts/axure/globals.js"></script>
    <script src="../scripts/axutils.js"></script>
    <script src="../scripts/axure/annotation.js"></script>
    <script src="../scripts/axure/axQuery.std.js"></script>
    <script src="../scripts/axure/doc.js"></script>
    <script src="../scripts/messagecenter.js"></script>
    <script src="../scripts/axure/events.js"></script>
    <script src="../scripts/axure/recording.js"></script>
    <script src="../scripts/axure/action.js"></script>
    <script src="../scripts/axure/expr.js"></script>
    <script src="../scripts/axure/geometry.js"></script>
    <script src="../scripts/axure/flyout.js"></script>
    <script src="../scripts/axure/ie.js"></script>
    <script src="../scripts/axure/model.js"></script>
    <script src="../scripts/axure/repeater.js"></script>
    <script src="../scripts/axure/sto.js"></script>
    <script src="../scripts/axure/utils.temp.js"></script>
    <script src="../scripts/axure/variables.js"></script>
    <script src="../scripts/axure/drag.js"></script>
    <script src="../scripts/axure/move.js"></script>
    <script src="../scripts/axure/visibility.js"></script>
    <script src="../scripts/axure/style.js"></script>
    <script src="../scripts/axure/adaptive.js"></script>
    <script src="../scripts/axure/tree.js"></script>
    <script src="../scripts/axure/init.temp.js"></script>
    <script src="../scripts/axure/legacy.js"></script>
    <script src="../scripts/axure/viewer.js"></script>
    <script src="../scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '../images/transparent.gif'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u38" class="ax_default _图片1">
        <img id="u38_img" class="img " src="../images/u38.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="close" class="close">
        <img class="img" src="../images/u36.png"/>
        <div id="u41" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u42" class="ax_default">
        <div id="u42_state0" class="panel_state" data-label="State1">
          <div id="u42_state0_content" class="panel_state_content">

            <!-- Unnamed (文本段落) -->
            <div id="u43" class="ax_default _文本段落">
              <img id="u43_img" class="img " src="../images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u44" class="text" style="visibility: visible;">
                <p style="font-size:16px;text-align:center;"><span><br></span></p><p style="font-size:28px;"><span>浙江VS深圳报告</span></p><p style="font-size:16px;"><span><br></span></p><p style="font-size:16px;text-align:left;"><span>2018-09-26</span></p><p style="font-size:16px;"><span><br></span></p><p style="font-size:16px;text-align:center;"><span>北京时间9月25日，深圳新世纪队在中山体育馆与浙江广厦队进行了首场热身赛的较量。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u45" class="ax_default _图片">
              <img id="u45_img" class="img " src="../images/u45.png"/>
              <!-- Unnamed () -->
              <div id="u46" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (文本段落) -->
            <div id="u47" class="ax_default _文本段落">
              <img id="u47_img" class="img " src="../images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u48" class="text" style="visibility: visible;">
                <p><span>数据方面：深圳队帕戈得到全场最高的22分，顾全20分，张凯10分；</span></p><p><span>广厦队全队五人得分上双，苏若禹19分，刘铮17分，张伟16分，李京龙14分，赵岩昊12分。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u49" class="ax_default _图片">
              <img id="u49_img" class="img " src="../images/u45.png"/>
              <!-- Unnamed () -->
              <div id="u50" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (文本段落) -->
            <div id="u51" class="ax_default _文本段落">
              <img id="u51_img" class="img " src="../images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u52" class="text" style="visibility: visible;">
                <p><span>数据方面：深圳队帕戈得到全场最高的22分，顾全20分，张凯10分；</span></p><p><span>广厦队全队五人得分上双，苏若禹19分，刘铮17分，张伟16分，李京龙14分，赵岩昊12分。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u53" class="ax_default label">
              <div id="u53_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u54" class="text" style="visibility: visible;">
                <p><span>阅读&nbsp;&nbsp; 8</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
